@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

$blue: hsl(217, 71%, 53%);
$primary: $blue;

$family-title: "Lobster", cursive;

@import "~bulma";

.navbar-brand .navbar-item {
  font-family: $family-title;
  font-size: 1.6rem;
}
